h1 {
    color: blue;
}

h2 {
    color: red;
}

.logo {
    margin: auto;
    display: block;
}

.container1 {
    background-color: green;
    margin: auto;
    border: 2px outset black;
    width: 825px;
    height: 810px;
    margin-top: 20px;
}

body {
    background-color: blue;
}