.box {
    height: 550px;
    width: 500px;
    border: dotted;
}

.box1 {
    display: block;
    padding: 20px;
    margin: 20px;
    height: 470px;
    width: 400px;
    border: dotted;
}

.box2 {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    display: block;
    height: 80px;
    width: 120px;
    background-color: red;
}

.box3 {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    height: 80px;
    width: 120px;
    background-color: blue;
}

.box4 {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    height: 80px;
    width: 120px;
    background-color: yellow;
}

.box5 {
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    height: 80px;
    width: 120px;
    background-color: green;
}

.box6 {
    margin: auto;
    display: block;
    height: 80px;
    width: 120px;
}