body {
background-color:blue;
}

div {
width: 30px;
height: 5px;
border-radius: 30px;
border: 2px solid yellow;
background-color: yellow;
margin: 20px;
padding-top: 50px;
padding-left: 20px;
display: inline-block;
}